/* Resetear CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(../multimedia/volumen-resumen-grafico-loneliness-escritorio.jpg);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #3185d2;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 1rem;
}

.logo {
  color: white;
  font-size: 3.5rem;
  margin-right: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline-block;
  padding: 0px 2rem;
}

ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.7rem;
}
a:hover {
  color: rgba(230, 208, 41, 0.922);
  transform: scale(1.05);
}

.sesion {
  display: flex;
  text-align: right;
  width: 2.5rem;
  height: 2rem;
  text-decoration: none;
}

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  color: white;
}

.video {
  display: flex;
  justify-content: center;
  width: 100%;
}

iframe {
  width: 50rem;
  height: 25rem;
  border: none;
}

.slogan {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  margin-top: 1rem;
}

.borde {
  border: 2px solid white;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 3rem 0;
  max-width: auto;
  margin: 0 auto;
  text-align: center;
}

.pie-logo {
  width: 1.5rem;
  padding-left: 40%;
}

.pie-links ul {
  list-style: none;
  padding: 1rem;
  display: inline-block;
  margin-right: 2rem;
  font-weight: bold;
}

.pie-links li {
  display: inline-block;
  margin-right: 2rem;
}

.pie-links a {
  color: #fff;
  text-decoration: none;
}

.pie-redes a {
  padding-top: 2rem;
  display: inline-block;
  margin-right: 5rem;
}

.pie-redes img {
  width: 3rem;
}

.letra-chica {
  margin-right: 1.5rem;
  padding-top: 2rem;
  font-size: 1.2rem;
}

.registro {
  max-width: 40rem;
  margin: 5rem auto;
  padding: 2rem;
  background-color: white;
  border: 0.1rem solid lightgrey;
  border-radius: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.boton {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 0.1rem solid lightgrey;
  border-radius: 0.3rem;
}

.registrarse {
  text-align: center;
  margin-bottom: 2rem;
  color: black;
}

.container {
  max-width: 96rem;
  margin: 0 auto;
  padding: 8rem;
}

.fila {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 25rem;
  border: 0.1rem solid #e0e0e0;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}

.card-header {
  position: relative;
  overflow: hidden;
}

.card-header img {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.card-header:hover img {
  transform: scale(1.1);
}

.card-body {
  padding: 2rem;
}

.first {
  font-weight: bold;
  margin: 0;
  font-size: 1.8rem;
  color: #333;
}

.second {
  margin: 1rem 0;
  color: #666;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.banner {
  background-size: cover;
  background-position: center;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
}

.banner-content {
  max-width: 60rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.banner-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
  text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
}

.banner-description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.banner .banner-content .banner-title .banner-description .btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #ff6600;
  color: white;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.banner .banner-content .banner-title .banner-description .btn:hover {
  background-color: #e65100;
}

.conocenos {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.col-izq,
.col-der {
  background: rgb(49, 81, 210);
  background: linear-gradient(
    90deg,
    rgba(49, 81, 210, 0.5486987031140581) 0%,
    rgba(58, 187, 198, 0.27418889919248945) 50%,
    rgba(52, 122, 136, 0.5851132689403886) 100%
  );
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.col-izq:hover,
.col-der:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.sub-title {
  line-height: 1.8;
  font-size: 1.5rem;
}

@media (max-width: 480px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 2.5rem;
    font-size: 2rem;
  }

  .fila {
    width: 100%;
    display: block;
    margin-right: 5rem;
  }

  .col-md-4 {
    padding: 1rem 0px;
  }

  .pie-logo {
    margin-right: 2rem;
  }

  .conocenos {
    display: flex;
    flex-direction: column;
  }

  .col-der,
  .col-izq {
    width: 100%;
  }
}
