<!-- <h1 class="text-center p-3 m-2 bg-danger">Hola mundo !</h1> -->

    <!-- grilla bt tiene 3 partes fundamentales -->
    <!-- contenedora - container - container-fluid -->
    <!-- elementos - row -->
    <!-- hijos - col -->
<!-- 
    <main class="container">
        <div class="row text-center">
            <p class="col-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel rerum a dolores cum enim. Corrupti expedita necessitatibus eveniet ipsam tenetur soluta, numquam sunt reprehenderit qui laboriosam porro, laborum quaerat beatae.</p>
            <p class="col-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam eligendi eaque, quis natus et ipsum assumenda fugiat quos molestiae ullam quam possimus neque dolores repellat est dolorum placeat perferendis animi?</p>
        </div>

        <div class="row">
            <p class="col-12">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse tenetur voluptatibus nam velit in. Reprehenderit deleniti repellat incidunt odit perspiciatis, ducimus odio libero animi, beatae ipsam doloribus velit maiores nobis!</p>
        </div>
    </main> -->
